@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.head{
  padding-bottom: 3rem;
  color: white;
  text-align: center;
}


.all{
  height: 50vh;
  color: white;
  font-family: "Josefin",sans-serif;
}


.CertificationContainer{
   width: 300px;
   overflow: hidden;
   box-shadow: 0px 0px 15px -5px;
   color: white;
   transition: 0.3s;
   animation: ease-in-out;
   text-align: center;
}
.CertificationContainer:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.Certification img{
  overflow: hidden;
  height: 200px;

}
.CertificationContainer{
  position: relative;
  align-items: center;
  margin-left: 15rem;
}

.CertificationContainer1{
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  color: white;
  transition: 0.3s;
  animation: ease-in-out;
  text-align: center;
}
.CertificationContainer1:hover{
 transform: scale(1.1);
 box-shadow: 0px 0px 15px 0px;
}

.Certification1 img{
  overflow: hidden;
  height: 200px;
}
.CertificationContainer1{
  position: relative;
  align-items: center;
  margin-left: 50rem;
  margin-top: -18rem;
  font-size: 16px;
}





