/* .Contactus{
    align-items: center;
    align-content: center;
    color: white;
    margin-left: 35rem;
    height: 50vh;
     margin-top: 30vh;
} */
/* .contact{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0px 100px;
    align-items: center;
}  */

/* .Contact_container{
    align-items: center;
    color: white
}
.Contactus{
    color: white;
    margin-left: 35rem;
    /* justify-content: center; */
   








